*{
    margin:0;
    padding: 0;
    font-family:Helvetica,sans-serif;
}

    nav{
        background-color:   #e6b325;
        padding: 30px;
        font-size: 20px;
        position : relative;
        text-align:left;
        width:3150px
     }
.hero{
  background: white;
  height:100vh;
  width:100%;
  position:relative;
  padding-bottom:20px;
}
.hero h1{
    text-align: center;
    padding-top: 80px;
    font-size:40px;
    color:black;
}
.slide-row{
    display:flex;
    width:3200px;
    margin:0px;
}
     
.slide-col{
    width:800px;
    height:400px;
    position:relative;
}
.user-img{
    position: absolute;
    top:0;
    right:0;
    height:100%;
    float:left;
}
.user-img img{
    height: 100%;
    border-radius: 10px;
   
}
.user-text{
    background: #2d3a59;
    width: 520px;
    height: 270px;
    position: absolute;
    left:0;
    top:50%;
    transform:translateY(50%);
    border-radius: 10px;
    color:#d3d4d6;
    padding:45px;
    box-sizing: border-box;
    z-index:2;
}
.user-text p{
    font-size:18px;
    line-height: 24px;
}
.user-text h3{
   margin: 35px 0 5px;
   color:#fff;
}
.container{
    width:800px;
    height:400px;
    position:absolute;
    top:50%;
    left:25%;
    transform:translate(-50%,-50%);
}
.indicator{
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: -50px;
}
.btn{
    display:inline-block;
    height: 15px;
    width:15px;
    margin:4px;
    border-radius:15px;
    background: #e21212;
    cursor:pointer;
}
.active{
    width:45px;
}
.testimonal{
    width: 100%;
    height:100%;
    overflow:hidden;
}

.foot {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background-color:#e6b325;
    color: white;
    text-align: center;
  }
